.outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
  
.cross{
    position: absolute;
    top: 5rem; 
    right: 9rem;
    cursor: pointer;
}

.text{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    margin-top: 4rem;
}