.explore-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.button-container{
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.remove-button{
  background-color:white;
  line-height: 1;
  border-color: black;
  transition: background-color 0.2s ease;
}
  
.save-button{
  background-color:white;
  line-height: 1;
  border-color: #58A894;
  transition: background-color 0.3s ease;
}

.remove-button:hover{
  border-color: black;
  background-color: rgba(101, 101, 101, 0.284)
}

.save-button:hover{
  border-color: #58A894;
  background-color: #c2f9eb;
}

.text{
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
}