.explore-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.button-container{
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.remove-button{
  background-color:white;
  line-height: 1;
  border-color: black;
  transition: box-shadow 0.2s ease;
}
  
.save-button{
  background-color:white;
  line-height: 1;
  border-color: #58A894;
  transition: box-shadow 0.3s ease;
}

.remove-button:hover{
  border-color: black;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.451);
}

.save-button:hover{
  border-color: #58A894;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.451);
}


/*
.slide {
  position: relative;
  overflow: hidden;
  background: white;
  color: black;
  line-height: 1;
  border-color: black;
  transition: background 0.3s;
}

.slide::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background: black;
  transition: width 0.5s;
}

.slide2 {
  position: relative;
  overflow: hidden;
  background: white;
  color: #58A894;
  line-height: 1;
  border-color: #58A894;
  transition: background 0.3s;
}

.slide2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: #58A894;
  transition: width 0.5s;
}

.slide:hover::before,
.slide:focus::before,
.slide2:hover::before,
.slide2:focus::before{
  border-color: black !important;
  width: 100%;
} */
