@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.left-side {
    background-color: #235347;
}

.right-side{
    background-color: #131B23 !important;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.248);
}

.employees-title{
    color: white !important;
}

.custom-list {
    list-style: none;
    padding: 0;
    color: white;
    text-align: left;
    font-size: 1rem;
}
  
.custom-list li {
    list-style: none;
    padding: 0;
    color: white;
    text-align: left;
    margin-bottom: 1.5rem;
    position: relative;
    font-family: 'Poppins', sans-serif;
}
  
.custom-list li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, #FFFFFF, transparent);
    transition: width 0.3s ease, background-position 0.3s ease;
}

.custom-list li:hover::after {
    width: 0;
    background-position: 100% 0;
  }

ul li a {
    color: white;
}

ul li a:hover{
    color:white;
}

.tag{
    border-radius: 0.5rem;
    padding: 0.2rem;
    background-color: #236C61;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

