.outer-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.liked-card-container{
    border: solid 396359;
    line-height: 1rem;
    width: 40rem;
    text-align: left;
    background-color: #396359;
    border-radius: 1rem;
    padding-left: 2rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.248);
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: box-shadow 0.4s ease;
}

.liked-card-container:hover{
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.451);
}

.company-name{
    font-size: 2rem;
    margin-bottom: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
}

.heart{
    cursor: pointer;
}

.heart:hover {
    transform: scale(1.2);
    transition: transform 0.2s;
}